@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@font-face {
  font-family: "NeueMetana-Bold";
  src: url(../../public/fonts/NeueMetana-Bold.otf) format("opentype");
}
@font-face {
  font-family: "NeueMetana-Regular";
  src: url(../../public/fonts/NeueMetana-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Grotta-Trial-Semibold";
  src: url(../..//public/fonts/Grotta-Trial-Semibold.otf) format("opentype");
}
@font-face {
  font-family: "Grotta-Trial-Bold";
  src: url(../..//public/fonts/Grotta-Trial-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Grotta-Trial-Medium";
  src: url(../..//public/fonts/Grotta-Trial-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Grotta-Trial-Regular";
  src: url(../..//public/fonts/Grotta-Trial-Regular.otf) format("opentype");
}
.product {
  width: 50%;
  position: absolute;
  top: 30px;
}