@charset "utf-8";

//common
$common_a: 1500px;
$common_b: 1200px;
$common_c: 1220px;


@mixin common_one {
    @media (max-width: $common_a){
        @content;
    }
}

@mixin common_two {
    @media (max-width: $common_b) and (min-width: $common_a){
        @content;
    }
}

@mixin common_three {
    @media (max-width: $common_c){
        @content;
    }
}


//section
$one_video: 1850px;
$one_a: 1460px;
$one_b: 1150px;
$one_c: 500px;
$one_e: 499px;

@mixin section_one {
    @media (min-width: $one_a){
        @content;
    }
}

@mixin section_two {
    @media (min-width: $one_b) and (max-width: $one_a){
        @content;
    }
}

@mixin section_three {
    @media (min-width: $one_c) and (max-width: $one_b){
        @content;
    }
}

@mixin section_four {
    @media (max-width: $one_c){
        @content;
    }
}

//비디오 부분만
@mixin section_video1 {
    @media (min-width: $one_video){
        @content;
    }
}

@mixin section_video2 {
    @media (min-width: $one_b) and (max-width: $one_video){
        @content;
    }
}

@mixin section_video3 {
    @media (min-width: $one_c) and (max-width: $one_b){
        @content;
    }
}

//detail //store //cart
$de_a: 1840px;
$de_b: 1460px;
$de_c: 1065px;
$de_d: 770px;
$de_e: 350px;

@mixin detail_one {
    @media (min-width: $de_a){
        @content;
    }
}

@mixin detail_two {
    @media (min-width: $de_b) and (max-width: $de_a){
        @content;
    }
}

@mixin detail_three {
    @media (min-width: $de_c) and (max-width: $de_b){
        @content;
    }
}

@mixin detail_four {
    @media (min-width: $de_d) and (max-width: $de_c){
        @content;
    }
}

@mixin detail_five {
    @media (min-width: $de_e) and (max-width: $de_d){
        @content;
    }
}

@mixin detail_six {
    @media (max-width: $de_e){
        @content;
    }
}