@charset "utf-8";
@import "fonts", "base", "mediaquery";

//producy_detail
.cartWrap {
    width: 100%;
    height: auto;
    padding: 0 100px;

    @include detail_five {
        padding: 0 40px;
    }
}

h2 {
    @include font-style;
    margin-top: 100px;
    margin-bottom: 50px;
}

.buying {
    @include flex-top;
    flex-wrap: wrap;
}

.bag {
    width: 70%;

    @include detail_two {
        width: 64%;
    }
    @include detail_three {
        width: 100%;
    }
    @include detail_four {
        width: 100%;
    }
    @include detail_five {
        width: 100%;
    }
}

.zip {
    padding: 30px 0;
    border-bottom: 1px solid $b;
    display: flex;

    @include detail_five {
        flex-wrap: wrap;
        text-align: center;
    }
}

.productImg {
    width: 240px;
    margin-right: 80px;

    @include detail_three {
        width: 200px;
    }
    @include detail_three {
        width: 320px;
    }
    @include detail_four {
        width: 400px;
    }
    @include detail_five {
        width: 50%;
       margin: 0 auto;
    }
}

.shopping {
    width: 50%;
    padding: 23px 0;

    @include detail_two {
        width: 60%;
    }
    @include detail_three {
        width: 100%;
        padding: 15px 0;
    }
    @include detail_four {
        width: 100%;
        padding: 10px 0;
    }
    @include detail_five {
        width: 100%;
        padding: 10px 0;
    }

    .productItem {
        @include font-style;
        font-size: 22px;

        @include detail_four {
            font-size: 18px;
        }
        @include detail_five {
            font-size: 18px;
            margin-top: 20px;
        }
    }

    .productContent {
        padding-top: 10px;
        padding-bottom: 50px;

        @include detail_four {
            font-size: 13px;
        }
        @include detail_five {
            font-size: 13px;
            padding-bottom: 30px;
        }
    }

    .countWrap {
        display: flex;

        @include detail_five {
            flex-direction: column;
        }
    }

    .count {
        width: 120px;
        @include box_border(1px, $a);
        @include flex-between;
        padding: 8px 15px;
        margin-bottom: 50px;
        margin-right: 50px;

        button {
            border: none;
            background-color: transparent;
        }

        @include detail_four {
            width: 90px;
            padding: 5px 12px;
        }
        @include detail_five {
            width: 90px;
            padding: 5px 12px;
            margin: 0px auto 15px;
        }
    }

    .productPrice {
        font-size: 20px;
        padding-top: 4px;
        font-weight: 700;

        @include detail_four {
            font-size: 18px;
        }
        @include detail_five {
            margin-bottom: 20px
        }
    }

    .tabs {
        @include font-style;

        button {
            border: none;
            background-color: transparent;
            margin-right: 30px;
            border-bottom: 1px solid $a;

            &:hover {
                border: 1px solid $a;
                padding: 5px 10px;
            }

            &:active {
                background-color: $a;
                color: $c;
                border: 1px solid $a;
                padding: 5px 10px;
            }

        @include detail_five {
            &:first-child {
                margin-left: 24px;
                margin-top: 20px;
            }
        }            
        }


    }
}



//payment
.total {
    width: 440px;
    height: 935px;
    background-color: rgb(230, 230, 230);
    position: sticky;
    top: 200px;
    padding: 40px 25px;

    @include detail_three {
        width: 100%;
    }
    @include detail_four {
        width: 100%;
    }
    @include detail_five {
        width: 100%;
    }

    h4 {
        @include font-style;
    }

    .payment {
        font-size: 15px;

        .order_price {
            font-weight: 700;
        }

        .order {
            @include flex-between;
            padding-top: 30px;
        }

        .ship {
            @include flex-between;
            padding-top: 10px;

            span {
                background-color: $b;
                padding: 5px 10px;
                margin-left: 10px;
                border-radius: 5px;
                font-size: 11px 
            }

            @include detail_five {
                span {
                    padding: 5px 6px;
                    margin-left: 2px;
                    font-size: 9px; 
                }
            }
        }

        .all_order {
            @include flex-between;
            padding-top: 10px;
        }

        button {
            width: 90%;
            border: none;
            background-color: $a;
            color: $c;
            padding: 10px 10px;
            @include flex-mid;
            margin-left: 5%;
            margin-top: 50px;
            margin-bottom: 150px;

            &:hover {
                background-color: $c;
                @include box_border(1px, $a);
                color: $a;
                opacity: 0.8;
            }
        }

        .btn {
            &:active {
                @include box_border(1px, $a);
                background-color: $d;
                color: $c;
            }
        }
    }

  

    .accordion-item {
        color: var(--bs-accordion-color);
        background-color: none;
        border: none;
        background-color: transparent;
        margin-top: -100px;
    }

    .accordion-button {
        width: 100%;
        background-color: transparent !important;

        @include detail_five {
            font-size: 14px;
        }        
        @include detail_six {
            font-size: 13px;
        }

        &:focus {
            z-index: 3;
            border: none;
            outline: 0;
            box-shadow: none;
        }
    }

    .accordion-button:not(.collapsed) {
        color: $a;
        background-color: none;
        box-shadow: none;
    }

    .shoppingBag_S {
        display: flex;
        margin-bottom: 25px;
        border-bottom: 1px solid $b;
        padding-bottom: 25px;

        .bag_wrap {
            width: 100px;
        }

        .bag_size {
            margin-left: 30px;
            font-size: 14px;

            .diy {
                line-height: 30px;
            }

            .drop {
                 display: flex;
            }

            .btn-success {
                background-color: transparent !important;
                border: none;
                border-radius: 0px;
                padding: 0px 15px;
                color: $a;
                font-size: 13px;
                margin-top: -4px;
            }

            .dropdown-menu {
                min-width: 25px;
                border-radius: 0px;
            }

            .dropdown-item {
                &:active {
                    background-color: none;
                }

                &:hover {
                    background-color: $a;
                    color: $c;
                }
            }
        }
    }

    .shoppingBag_M {
        display: flex;
        margin-bottom: 25px;
        border-bottom: 1px solid $b;
        padding-bottom: 25px;

        .bag_wrap {
            width: 100px;
        }

        .bag_size {
            margin-left: 30px;
            font-size: 14px;

            .diy {
                line-height: 30px;
            }

            .drop {
                display: flex;
            }

            .btn-success {
                background-color: transparent !important;
                border: none;
                border-radius: 0px;
                padding: 0px 15px;
                color: $a;
                font-size: 13px;
                margin-top: -4px;
            }

            .dropdown-menu {
                min-width: 25px;
                border-radius: 0px;
            }

            .dropdown-item {
                &:active {
                    background-color: none;
                }

                &:hover {
                    background-color: $a;
                    color: $c;
                }
            }
        }
    }

    .add_search {
        border: none;
        background-color: #F5F5F5;
        border-radius: 50px;
        font-size: 12px;
        width: 100%;
        margin-right: 10px;
      
        &:focus {
          z-index: 3;
          border: 1px solid $a;
          outline: 0;
          box-shadow: none;
        }
      }
}

