@charset "utf-8";
@import "fonts", "base", "mediaquery";

.detailWrap {
    width: 100%;
    height: auto;
}

.detail_inner {
    margin-top: -150px;
}

.product {
    z-index: -100;

    @include detail_four {
        width: 100%;
    }
}

.buy {
    --bs-gutter-x: 0;
}

.info {
    width: 100%;
    position: sticky;
    top: 30px;
}

.product_detail {
    padding: 180px 150px;

    @include detail_two {
        padding: 140px 100px;
    }
    @include detail_three {
        padding: 120px 120px;
    }
    @include detail_four {
        padding: 120px 170px;
        width: 200%;
    }
    @include detail_five {
        padding: 100px 95px;
        width: 100%;
    }
    @include detail_six {
        padding: 100px 70px;
        width: 100%;
    }

    .title {
        @include font-style;
    }

    .price {
        @include item_p;
        font-size: 20px;

        @include detail_six {
            font-size: 15px;
        }
    }

    .content {
        @include item_c;
        margin-top: 28px;
        margin-bottom: 12px;
        font-size: 18px;

        @include detail_six {
            font-size: 13px;
        }
    }

    .type {
        font-size: 15px;
        color: $d;

        @include detail_six {
            font-size: 11px;
        }
    }

    .more_product {
        border-bottom: 1px solid $f;
        padding-bottom: 30px;
        padding-top: 50px;
        font-size: 10px;
        text-align: center;

        img {
            border-radius: 10px;
            padding: 3px;
            margin-bottom: 5px;
            cursor: pointer;

            &:hover {
                border: 1px solid $a;
            }
        }
    }

    .size {
        font-size: 12px;
        color: #1d1d1d;
        padding: 20px 0 5px 0;
    }

    .gram span {
        @include box_border(1px, $a);
        padding: 10px 40px;
        border-radius: 50px;
        background-color: $c;
        font-size: 13px;

        &:hover {
            cursor: pointer;
            background-color: $a;
            @include box_border(1px, $a);
            color: $c;
        }

        &:active {
            background-color: $d;
            opacity: 0.8;
        }
    }

    button {
        margin: 35px 0;
        width: 100%;
        background-color: $a;
        @include box_border(1px, $a);
        font-size: 13px;
        padding: 10px 0;

        &:hover {
            background-color: $c;
            @include box_border(1px, $a);
            color: $a;
            opacity: 0.8;
        }
    }

    .btn {
        &:active {
            @include box_border(1px, $a);
            background-color: $d;
            opacity: 0.8;
            color: $c;
        }
    }

    //product details
    .accordion-item {
        color: var(--bs-accordion-color);
        background-color: none;
        border: none;
        margin-bottom: -80px;
        margin-top: -60px;
    }

    .accordion-button {
        margin: 35px 0;
        width: 100%;
        background-color: #fff !important;
        border: none !important;
        font-size: 13px;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .accordion-button {
        &:focus {
            z-index: 3;
            border: none;
            outline: 0;
            box-shadow: none;
            font-weight: 700;
        }
    }

    .accordion-button:not(.collapsed) {
        color: $a;
        background-color: none;
        box-shadow: none;
    }

    p {
        font-size: 13px;
        line-height: 25px;

        @include detail_six {
            font-size: 11px;
        }
    }

    .details {
        span {
            font-size: 13px;
            font-weight: 700;
            line-height: 30px;

            @include detail_six {
                font-size: 11px;
            }
        }

        .txtBox {
            margin-bottom: 30px;
        }
    }


    .shoppingBag {
        img {
            margin: 0 auto;
        }

        p {
            margin-top: 25px;

            &:nth-of-type(2) {
                margin-top: 0px;
            }
        }
    }
}



//상품추천
.recommend {
    position: relative;

    .together {
        margin: 0 auto;
        padding: 200px 100px;

        h4 {
            @include font-style;
            font-size: 30px;
            display: block;
            text-align: center;
            margin-bottom: 50px;
        }

        .recommend_slide {
            flex-shrink: 1;
            cursor: pointer;

            img {
                width: 280px;
                border-radius: 10px;
                padding: 3px;

                &:hover {
                    border: 1px solid $a;
                }

                @include detail_five {
                    width: 200px;
                }

                @include detail_six {
                    width: 150px;
                }
            }

            h4 {
                width: 280px;
                font-size: 16px;
                margin-top: 20px;

                @include detail_five {
                    width: 200px;
                }
                
                @include detail_six {
                    width: 150px;
                }
            }

            .item_c {
                width: 280px;
                font-size: 14px;
                text-align: center;
                margin-top: -40px;
                                
                @include detail_five {
                    width: 200px;
                }
                
                @include detail_six {
                    width: 150px;
                    font-size: 11px;
                }
            }

            .item_p {
                width: 280px;
                text-align: center;
                margin-bottom: 50px;
                                
                @include detail_five {
                    width: 200px;
                }
                
                @include detail_six {
                    width: 150px;
                }
            }
        }

        .swiper-scrollbar {
            border-radius: 10px;
            position: relative;
            touch-action: none;
            background: $b;
        }

        .swiper-scrollbar-horizontal {
            position: absolute;
            left: 25%;
            bottom: 0;
            z-index: 50;
            height: 3px;
            width: 50%;
        }

        .swiper-scrollbar-drag {
            height: 100%;
            width: 100%;
            position: relative;
            background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
            border-radius: var(--swiper-scrollbar-border-radius, 10px);
            left: 0;
            top: 0;
        }
    }
}