@charset "utf-8";
@import "fonts", "base";

.detailWrap {
    width: 100%;
    height: auto;
    position: relative;
}

.detail_inner {
    width: 100%;
margin-top: -150px;
}

.product {
    width: 950px;
    --bs-gutter-x: 0;
    z-index: -100;
}

.buy {
    --bs-gutter-x: 0;
}

.info {
    width: 100%;
    position: sticky;
    top: 30px;
}

.product_detail {
    height: auto;
    padding: 180px 150px;

    .title {
        @include font-style;
    }

    .price {
        @include item_p;
    }

    .content {
        @include item_c;
        margin-top: 28px;
        margin-bottom: 5px;
    }

    .type {
        font-size: 15px;
        color: $d;
    }

    .more_product {
        border-bottom: 1px solid $f;
        padding-bottom: 20px;
    }

    .size {
        font-size: 12px;
        color: #1d1d1d;
        padding: 20px 0 5px 0; 
    }
    
    .gram span{
        @include box_border(1px, $a);
        padding: 10px 40px;
        border-radius: 50px;
        background-color: $c;
        font-size: 13px;
        
        &:hover {
            cursor: pointer;
            background-color: $a;
            @include box_border(1px, $a);
            color: $c;
        }

        &:active {
            background-color: $d;
            opacity: 0.8;
        }
    }

    button {
        margin: 35px 0;
        width: 100%;
        background-color: $a;
        @include box_border(1px, $a);
        font-size: 13px;
        padding: 10px 0;

        &:hover {
            background-color: $c;
            @include box_border(1px, $a);
            color: $a;
            opacity: 0.8;
        }
    }

    .btn {
        &:active {
            @include box_border(1px, $a);
            background-color: $d;
            opacity: 0.8;
        }
    }

    .add {
        margin-top: 50px;
        p {
            display: flex;
            justify-content: space-between;
        }
    }

}



  //상품추천

.recommend {
    position: relative;
    background-color: lightblue;

    .together {
        margin: 0 auto;
        padding: 150px 100px;

        h4 {
            display: block;
            text-align: center;
            margin-bottom: 50px;
        }
    }

    .swiper {
        height: 400px;  
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 10;
        display: block;
    }

    .swiper-wrapper {
        width: 100%;
        height: 400px;
        background-color: pink;
    }
    
    .swiper-scrollbar {
        border-radius: var(--swiper-scrollbar-border-radius, 10px);
        position: relative;
        touch-action: none;
        background:  rgba(255, 255, 255, 0) !important;
    }
    
    .swiper-scrollbar-drag {
        height: 100%;
        width: 100%;
        position: relative;
        border-radius: var(--swiper-scrollbar-border-radius, 10px);
        left: 0;
        top: 0;
        background: rgb(255, 255, 255, 0.8) !important;
    }
    
    
    .product1 {
        background-image: url(../../public/img/p3.jpg);
        @include background-set;
       width: 50%;
    }
    
    .product2 {
        background-image: url(../../public/img/perfume1.jpg);
        @include background-set;
        height: 100%;
    }
    
    .product3 {
        background-image: url(../../public/img/perfume4.jpg);
        @include background-set;
        height: 100%;
    }
    
    .product4 {
        background-image: url(../../public/img/p6.jpg);
        @include background-set;
        height: 100%;
    }
    
    .product5 {
        background-image: url(../../public/img/bam1.jpg);
        @include background-set;
        height: 100%;
    }
    
    .product6 {
        background-image: url(../../public/img/body3.jpg);
        @include background-set;
        height: 100%;
    }
    
    .product7 {
        background-image: url(../../public/img/home6.jpg);
        @include background-set;
        height: 100%;
    }
    
    .product8 {
        background-image: url(../../public/img/p5.jpg);
        @include background-set;
        height: 100%;
    }
    
    .product9 {
        background-image: url(../../public/img/body5.jpg);
        @include background-set;
        height: 100%;
    }
    
    .product10 {
        background-image: url(../../public/img/Candle1.jpg);
        @include background-set;
        height: 100%;
    }
}
















