@charset "utf-8";
@import "fonts", "base", "mediaquery";

//tab_menu
.mid_section {
    width: 100%;
    height: auto;
}

.Wrap {
    padding: 0 100px;
}

.tab {
    @include flex-between;

    .tab_txt {
        @include font-style;
        font-size: 30px;
        line-height: 35px;
        margin-top: 20px
    }

    Button {
        @include box_border(2px, $a);
        border-radius: 50px;
        margin-left: 10px;
        @include font-style;
        text-align: center;
        padding: 10px 20px;
        font-size: 20px;
    }

    @include section_one {
        flex-wrap: wrap;

        Button {
            flex-wrap: wrap;
            margin-bottom: 20px;
            font-size: 19px;
        }
    }
}

.menu_list {
    height: auto;
    overflow: hidden;

    .itemWrap {
        padding: 20px 0;

        .item {
            text-align: center;
            margin-bottom: 30px;
            cursor: pointer;

            img {
                border-radius: 40px;
                height: 600px;
                transition: all 0.2s linear;
                padding: 3px;

                &:hover {
                    transform: scale(0.9);
                    border: 1px solid $a;
                }
            }

            h4 {
                @include font-style;
                margin-top: 30px;
            }

            .item_c {
                @include item_c;
                margin-top: 10px;
                font-size: 1rem;
            }

            .item_p {
                @include item_p;
                margin-top: -10px;
                font-size: 20px;
            }

            @include section_one {
                img {
                    height: 70%;
                }
    
                h4 {
                    @include font-style;
                    margin-top: 20px;
                    font-size: 14px;
                    margin-bottom: 15px;
                }
    
                .item_c {
                    display: none;
                }
    
                .item_p {
                    @include item_p;
                    margin-top: -10px;
                    font-size: 14px;
                }
            }
        }
    }


}

//poster
.mid_section2 {
    padding: 200px 100px;
    margin: 0;
    @include flex-between;
    flex-wrap: nowrap;
}

.jennie {
    width: 596px;
    height: 800px;
    border-radius: 40px;
    position: relative;
    background-image: url(../../public/img/poster.jpg);
    @include background-set;

    button {
        position: absolute;
        bottom: -10px;
        left: 160px;
        border-radius: 10px;
        @include box_border (8px, $c);
        padding: 10px 80px;
        @include font-style;
        position: absolute;
        cursor: pointer;

        &:hover {
            background-color: cadetblue;
        }

        &::after {
            content: "";
            position: absolute;
            top: 14px;
            right: 20px;
            width: 15px;
            height: 15px;
            background-image: url(../../public/img/arrow_tab.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    @include section_video {
        width: 100%;
        height: 700px;
        margin: 0 auto;


    }
}

.video_perfume {
    width: 63.5%;
    height: 800px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;

    video {
        width: 100%;
        position: absolute;
        left: 0;
        background-size: cover;
        background-position: center;
    }

    @include section_video {
        width: 50%;
        
    }

    // @include section_one {
    //     width: 100%;
    //     height: 800px;
    //     border-radius: 40px;
    //     position: relative;
    //     overflow: hidden;

    // }
}