@charset "utf-8";
@import "fonts", "base", "mediaquery";

//part1 메인
.main_section {
    width: 100%;
    height: auto;
}

.containerWrap {
    padding: 0 100px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include section_four {
        padding: 0 40px;
    }
    @include section_five {
        padding: 0 40px;
    }
}

.row {
    @include section_four {
        --bs-gutter-x: 0;
    }
    @include section_five {
        --bs-gutter-x: 0;
    }
}

.left {
    width: 49%;
    height: 744px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include section_two {
       width: 100%;
       height: 744px;
    }
    @include section_three {
        width: 100%;
        height: 744px; 
        margin-bottom: -90px; 
    }
    @include section_four {
        width: 100%;
        margin-bottom: -220px; 
    }
    @include section_five {
        width: 100%;
        margin-bottom: -120px; 
    }


    .graybox {
        height: 450px;
        background-color: $b;
        margin-bottom: 12px;
        border-radius: 40px;
        padding: 25px;
        position: relative;

        @include section_three {
            height: 450px;
        }
        @include section_four {
            height: 300px;
        }
        @include section_five {
            height: 300px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 40px;
            left: 250px;
            width: 22%;
            height: 20px;
            background-image: url(../../public/img/arrow.png);
            background-repeat: no-repeat;
            background-size: contain;

            @include section_three {
                top: 40px;
                left: 150px;
                width: 35%;
            }
            @include section_four {
                display: none;
            }
        }

        .toptext {
            @include font-style;
            font-size: 3.3rem;
            line-height: 65px;

            @include section_two {
                font-size: 3.5rem;
                line-height: 70px;
            }
            @include section_three {
                font-size: 2.5em;
                line-height: 50px;  
            }
            @include section_four {
                font-size: 2rem;
                line-height: 40px;  
            }
            @include section_five {
                font-size: 1.8rem;
                line-height: 40px;  
            }
        }

        .bottomtext {
            font-size: 1.1rem;
            font-weight: 500;
            color: $a;
            margin-top: 120px;

            @include section_two {
                font-size: 1.3rem;
                margin-top: 80px;
            }
            @include section_three {
                font-size: 1rem;
                margin-top: 0px;
            }
            @include section_four {
                font-size: 1rem;
                margin-top: 15px;
            }
            @include section_five {
                font-size: 0.9rem;
                margin-top: 15px;
            }
        }
    }

    .smallBox1 {
        width: 49%;
        height: 280px;
        background-image: url(../../public/img/main1.png);
        border-radius: 40px;
        margin-right: 12px;
        @include background-set;
        position: relative;

        p {
            color: $c;
            font-weight: 700;
            font-size: 2.4rem;
            position: absolute;
            bottom: 5px;
            left: 40px;
        }
        
        @include section_three {
            p {
                font-size: 1.5rem;
                left: 20px;
            }
        }
        @include section_four {
            height: 150px;

            p {
                font-size: 1.2rem;
                left: 20px;
            }
        }
    }

    .smallBox2 {
        width: 49%;
        height: 280px;
        background-image: url(../../public/img/main2.jpg);
        border-radius: 40px;
        @include background-set;
        position: relative;

        p {
            color: $c;
            font-weight: 700;
            font-size: 2.4rem;
            position: absolute;
            bottom: 5px;
            left: 40px;
        }

        @include section_three {
            p {
                font-size: 1.5rem;
                left: 20px;
            }
        }
        @include section_four {
            height: 150px;

            p {
                font-size: 1.2rem;
                left: 20px;
            }
        }
    }
}

.right {
    width: 50%;
    height: 744px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    margin-left: 12px;

    video {
        height: 100%;
        position: absolute;
        background-size: cover;
        top: 0;
        left: -400px;
    }
    
    @include section_two {
        width: 100%;
        height: 744px;
        margin-top: 10px;

        video {
            height: 120%;
            position: absolute;
            background-size: cover;
            top: -100px;
            left: -320px;
        }
    }
    @include section_three {
        width: 100%;
        height: 400px;
        margin-left: 0px;
        margin-top: 100px;

        video {
            height: 160%;
            position: absolute;
            background-size: cover;
            top: -130px;
            left: -250px;
        }
    } 
    @include section_four {
        width: 100%;
        height: 400px;
        margin-left: 0px;
        margin-top: -50px;

        video {
            height: 160%;
            position: absolute;
            background-size: cover;
            top: -150px;
            left: -400px;
        }
    }
    @include section_five {
        width: 100%;
        height: 300px;
        margin-left: 0px;
        margin-top: -150px;

        video {
            height: 160%;
            position: absolute;
            background-size: cover;
            top: -150px;
            left: -500px;
        }
    }
}

//part2 텍스트
.midtxt {
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 80px;
    padding: 200px 100px;
    text-align: center;
    letter-spacing: 0.5px;
    height: 720px;
    position: relative;


    &::before {
        content: "";
        position: absolute;
        top: 23%;
        left: 38%;
        width: 92px;
        height: 90px;
        background-image: url(../../public/img/text1.png);
        @include background-set;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 42%;
        right: 34%;
        width: 92px;
        height: 90px;
        background-image: url(../../public/img/text2.png);
        @include background-set;
    }

    .mid2 {
        &::after {
            content: "";
            position: absolute;
            bottom: 50;
            left: 35%;
            width: 92px;
            height: 89px;
            background-image: url(../../public/img/text3.png);
            @include background-set;
        }
    }

    @include section_two {
        font-size: 2.7rem;

        &::before {
            top: 28%;
            width: 62px;
            height: 60px;
        }
    
        &::after {
            bottom: 47%;
            right: 34%;
            width: 62px;
            height: 60px;
        }
    
        .mid2 {
            &::after {
                bottom: 41%;
                left: 35%;
                width: 62px;
                height: 60px;
            }
        }
    }
    @include section_three {
        font-size: 2rem;
        line-height: 55px;
        padding: 120px 100px;
        height: 720px;
        position: relative;

        &::before {
            top: 15%;
            left: 38%;
            width: 50px;
            height: 50px;
        }
    
        &::after {
            bottom: 62%;
            right: 20%;
            width: 50px;
            height: 50px;
        }
    
        .mid2 {
            &::after {
                bottom: 48%;
                left: 32%;
                width: 50px;
                height: 50px;
            }
        }
    }
    @include section_four {
        font-size: 1.5rem;
        line-height: 55px;
        padding: 100px 40px;
        height: 500px;
        position: relative;
        margin-bottom: 50px;

        &::before {
            top: 22%;
            left: 38%;
            width: 50px;
            height: 50px;
        }
    
        &::after {
            bottom: 50%;
            right: 20%;
            width: 50px;
            height: 50px;
        }
    
        .mid2 {
            &::after {
                bottom: 25%;
                left: 35%;
                width: 50px;
                height: 50px;
            }
        }
    }
    @include section_five {
        font-size: 1.2rem;
        line-height: 55px;
        padding: 100px 40px;
        height: 500px;
        position: relative;
        margin-bottom: 80px;

        &::before {
            top: 22%;
            left: 38%;
            width: 50px;
            height: 50px;
        }
    
        &::after {
            bottom: 40%;
            right: 20%;
            width: 50px;
            height: 50px;
        }
    
        .mid2 {
            &::after {
                bottom: 25%;
                left: 20%;
                width: 50px;
                height: 50px;
            }
        }
    }
}
