@charset "utf-8";
@import "fonts", "base";

//part1 메인
.main_section {
    width: 100%;
    height: auto;
}

.containerWrap {
    padding: 0 100px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}

.left {
    width: 49%;
    height: 744px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .graybox {
        height: 450px;
        background-color: $b;
        margin-bottom: 12px;
        border-radius: 40px;
        padding: 25px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 40px;
            left: 250px;
            width: 22%;
            height: 20px;
            background-image: url(../../public/img/arrow.png);
            background-repeat: no-repeat;
            background-size: contain;
        }

        .toptext {
            @include font-style;
            font-size: 3.3rem;
            line-height: 65px;
        }

        .bottomtext {
            font-size: 1.1rem;
            font-weight: 500;
            color: $a;
            margin-top: 120px;
        }
    }

    .smallBox1 {
        width: 49%;
        height: 280px;
        background-image: url(../../public/img/main1.png);
        border-radius: 40px;
        margin-right: 12px;
        @include background-set;
        position: relative;

        p {
            color: $c;
            font-weight: 700;
            font-size: 2.4rem;
            position: absolute;
            bottom: 5px;
            left: 40px;
        }
    }

    .smallBox2 {
        width: 49%;
        height: 280px;
        background-image: url(../../public/img/main2.jpg);
        border-radius: 40px;
        @include background-set;
        position: relative;

        p {
            color: $c;
            font-weight: 700;
            font-size: 2.4rem;
            position: absolute;
            bottom: 5px;
            left: 40px;
        }
    }
}

.right {
    width: 50%;
    height: 744px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    margin-left: 12px;

    video {
        height: 100%;
        position: absolute;
        background-size: cover;
        top: 0;
        left: -400px;
    }
}

//part2 텍스트
.midtxt {
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 80px;
    padding: 200px 0;
    text-align: center;
    letter-spacing: 0.5px;
    height: 720px;
    position: relative;


    &::before {
        content: "";
        position: absolute;
        top: 23%;
        left: 38%;
        width: 92px;
        height: 90px;
        background-image: url(../../public/img/text1.png);
        @include background-set;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 33%;
        right: 34%;
        width: 92px;
        height: 90px;
        background-image: url(../../public/img/text2.png);
        @include background-set;
    }

    .mid2 {
        &::after {
            content: "";
            position: absolute;
            bottom: 50;
            left: 35%;
            width: 92px;
            height: 89px;
            background-image: url(../../public/img/text3.png);
            @include background-set;
        }
    }
}
