@charset "utf-8";
@import "fonts", "base";


//슬라이드
.slide_section {
    position: relative;

    &::before {
        content: "";
        background-color: $e;
        width: 100%;
        height: 40%;
        position: absolute;
        bottom: 0;
        padding: 0;
    }
}

.slider-container {
    padding: 200px 100px;

    h2 {
        @include font-style;
        font-size: 30px;
        margin: 35px 0;
    }
}

.slick-slide {
    padding: 0 20px;
}

.slick-list {
    //사이즈 조정
    margin: 0 auto;
}

.slick-prev {
    position: absolute;
    top: -20px;
    right: 90px;
    left: auto;
}

.slick-next {
    position: absolute;
    top: -39px;
    right: 22px;
}

.slick-prev:before,
.slick-next:before {
    display: none;
}

.slick-prev::after {
    content: "";
    transform: rotate(180deg);
    background-image: url(../../public/img/arrow_slide.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -46px;
    right: 0;
    left: auto;
    width: 40px;
    height: 40px;
}

.slick-next::after {
    content: "";
    background-image: url(../../public/img/arrow_slide.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

.slider {
    .location {
        margin-top: 20px;
        font-size: 14px;
    }

    h4 {
        font-size: 22px;
        margin-top: -8px;
    }

    .date {
        font-size: 12px;
        margin-top: 15px;
        color: $d;
    }

}

.ex1 {
    .img_ex1 {
        background-image: url(../../public/img/ex1.jpg);
        @include background-set;
        height: 400px;
    }
}

.ex2 {
    .img_ex2 {
        background-image: url(../../public/img/ex2.jpg);
        @include background-set;
        height: 400px;
    }
}

.ex3 {
    .img_ex3 {
        background-image: url(../../public/img/ex3.jpg);
        @include background-set;
        height: 400px;
    }
}

.ex4 {
    .img_ex4 {
        background-image: url(../../public/img/ex4.jpg);
        @include background-set;
        height: 400px;
    }
}

.ex5 {
    .img_ex5 {
        background-image: url(../../public/img/ex5.jpg);
        @include background-set;
        height: 400px;
    }
}

.ex6 {
    .img_ex6 {
        background-image: url(../../public/img/ex6.jpg);
        @include background-set;
        height: 400px;
    }
}