@charset "utf-8";
@import "fonts", "base";

.store_section {
    width: 100%;
    height: 1000px;
    position: relative;
}

.storeWrap {
    padding: 0px 380px;  
}

.swiper {
    position: absolute;
    width: 1134px;
    height: 637px;  

}

.store_info {
    @include flex-between;
}

.store1 {
    background-image: url(../../public/img/store_hannam_01.jpg);
    @include background-set;
    height: 100%;
}

.store2 {
    background-image: url(../../public/img/store_hannam_02.jpg);
    @include background-set;
    height: 100%;
}

.store3 {
    background-image: url(../../public/img/store_hannam_03.jpg);
    @include background-set;
    height: 100%;
}

.store4 {
    background-image: url(../../public/img/store_hannam_04.jpg);
    @include background-set;
    height: 100%;
}

.store5 {
    background-image: url(../../public/img/store_hannam_05.jpg);
    @include background-set;
    height: 100%;
}

.store6 {
    background-image: url(../../public/img/store_hannam_06.jpg);
    @include background-set;
    height: 100%;
}

.store7 {
    background-image: url(../../public/img/store_hannam_07.jpg);
    @include background-set;
    height: 100%;
}

.store8 {
    background-image: url(../../public/img/store_hannam_08.jpg);
    @include background-set;
    height: 100%;
}

.store9 {
    background-image: url(../../public/img/store_hannam_09.jpg);
    @include background-set;
    height: 100%;
}

.store10 {
    background-image: url(../../public/img/store_hannam_10.jpg);
    @include background-set;
    height: 100%;
}